.caption {
    line-height: 3.7vw;
    font-size: 3vw;
    text-align: start;
    position: absolute;
    top: 5vh;
    left: 21vw;
}

body {
    /* -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    background-color: #272727;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    color: #EEEAE0 !important;
}

.select{
    user-select:text;
}

.no_select{
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: #EEEAE0;
    text-decoration: none;
}

a:hover {
    color: #b9afaf;
}

.up {
    transition: 0.4s;
    display: inline;
}

.up:hover {
    transform: scale(1.1);
}

.tel {
    text-decoration: underline;

}

body,
html {
    max-width: 99.2% !important;
}


@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-Bold.woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dobrozrachniy';
    src: url('../font/Dobrozrachniy.ttf')  format('truetype');
    font-weight: 700;
    font-style: normal; 
    font-display: swap;
}

.navbar_title{
    font-family: 'Dobrozrachniy', sans-serif !important;
    letter-spacing: 0.1vw !important;
    font-size: 3vw !important;
    line-height: 7vh;
   }
.modal_title{
    font-family: 'Dobrozrachniy', sans-serif !important;
    letter-spacing: 0.1vw !important;
    font-size: 5vw !important;
    line-height: 11vh;
}




.img {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pulse {
    position: fixed;
    text-align: center;
    right: 3.9vw;
    top: 80vh;
    border-radius: 100%;
    background: #272727;
    width: 3vw;
    height: 3vw;
    z-index: 1;
}

.pulse::before {
    content: '';
    position: absolute;
    border: 0.1vw solid #EEEAE0;
    left: -0.5vw;
    opacity: 0;
    right: -0.5vw;
    top: -0.5vw;
    bottom: -0.5vw;
    border-radius: 0.5vw;
    animation: pulse 2.5s linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.pulse::after,
.pulse::before {
    content: '';
    position: f;
    border: 0.1vw solid #EEEAE0;
    left: -0.5vw;
    opacity: 0;
    right: -0.5vw;
    top: -0.5;
    bottom: -0.5x;
    border-radius: 50%;
    animation: pulse 1.5s linear infinite;
}

.pulse::after {
    animation-delay: 1.25s;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.mob-nav{
    display: none;
   }

   .contact_nummail{
    line-height: 2vw !important;
   }

@media(max-width: 768px){
    body,
    html {
    max-width: 100% !important;
    overflow-x: hidden;
    }
    .modal_title{
        font-size: 18vw !important;
        margin-top: 28vh !important;
        line-height: 11vh;
    }
    .modal_age{
        margin-top: 2vh !important;
        font-size: 5vw !important;
    }
    .modal_button{
        font-size: 4vw !important;
        width: 25vw !important;
        margin: 3vw !important;
    }


    .pulse {
    width: 7vh !important;
    height: 7vh !important;
    right: 6vw !important;
    }
   .navbar{
    display: none;
   }
   .mob-nav{
    display: block;
    background-color:rgba(0, 0, 0, .3) !important;
   }
   .navbar_title{
    font-family: 'Dobrozrachniy', sans-serif !important;
    letter-spacing: 0.5vw !important;
    font-size: 9vw !important;
    line-height: 10vw;
   }
   .main_img{
    width: 100% !important; 
    height: 50vh !important;
    filter: brightness(80%) !important;
    object-position: 40% !important;
   }
   .caption{
    position: relative;
    top: -47vh;
    font-size: 8vw;
    line-height: 9vw;
    left: 5vw;
   }
   .about{
    margin-top: -14vh !important;
   }
   .about_title{
    font-size: 8vw !important;
    margin-left: 6vw !important;
   }
   .about_text{
    font-size: 4vw !important;
    margin-left: 6vw !important;
   }
   .about_img{
    margin-top: 6vw !important; 
    width: 100% !important; 
    height: 30vh !important;
    filter: brightness(80%) !important;
   }
   .pivo_title{
    font-size: 8vw !important;
    margin-top: 5vw !important;
   }
   .pivo_container{
    margin-top: 0vw !important;
    margin-left: 7vw !important; 
    width: 91% !important;
   }
   .pivo_name{
    display: none;
   }
   .alcohol{
    font-size: 3.5vw !important;
    margin-top: 17vw !important;
   }
   .plot{
    margin-left: -1.5vw !important;
   }
   .pivo_img{
    width: 100% !important;
    margin-left: 1.5vw !important;
   }
   .pivo_text{
    font-size: 4vw !important;
    margin-top: 3vh !important;
   }
   .history_title{
    font-size: 8vw !important;
    margin-top: 4vw !important;
    margin-left: 6vw !important;
   }
   .history_text{
    font-size: 3.5vw !important;
    margin-left: 6vw !important;
   }
   .history_img{
    margin-top: 6vw !important; 
    width: 100% !important; 
    height: 30vh !important;
    filter: brightness(80%) !important;
   }
   .contact_title{
    font-size: 8vw !important;
    margin-top: 4vw !important;
   }
   .contact_map_container{
    margin-left: 5vw !important;
    margin-top: 4vw !important;
   }
   .contact_map{
    height: 80vw !important;
    width: 90% !important;
   }
   .contact_deal{
    font-size: 7vw !important;
    line-height: 9vw !important;
    margin-left: 6vw !important;
    margin-top: 4vw !important;
   }
   .contact_nummail{
    font-size: 5.4vw !important;
    line-height: 9vw !important;
    margin-left: 0vw !important;
   }
   .contact_tel_img{
    width: 4vw !important;
   }
   .contact_email_img{
    width: 5vw !important;
   }
   .contact_wp_img{
    width: 15vw !important;
    margin-top: -2vh !important;
    margin-left: -2vw !important;
    margin-bottom: 3vh !important;
   }
   .footer{
    width: 100% !important;
    height: 80vw !important;
   }
   .footer_text{
    font-size: 5vw !important;
    margin-top: -9vw !important;
    margin-left: 0vw !important;
   }
   .footer_img{
    width: 15vw !important;
    margin-left: 0vw !important;
   }
}

@media(max-width: 500px){
    .main_img{
        height: 60vh !important;
       }
       .caption{
        top: -57.5vh;
        font-size: 9vw;
        line-height: 6vh;
       }
}