input:focus {
    outline: none;
}

.mob-navbar {
    display: none !important;

}

.logo-phone {
    color: white;
    top: 6.8vw;
    position: absolute;
    z-index: 99;
    left: 4.9vw;
    font-size: 0.79vw;

}

.logo-adress {
    color: white;
    top: 5.7vw;
    position: absolute;
    z-index: 99;
    left: 4.9vw;
    font-size: 0.79vw;
}

.nav-text1 {
    position: absolute;
    z-index: 99;
    left: 21.7vw;
    color: white;
    top: 7.2vh;
    font-size: 1.3vw;
}

.nav-text2 {
    position: absolute;
    z-index: 99;
    left: 32.7vw;
    color: white;
    top: 7.2vh;
    font-size: 1.3vw;
}

.nav-text3 {
    position: absolute;
    z-index: 99;
    left: 44vw;
    color: white;
    top: 7.2vh;
    font-size: 1.3vw;
}

.nav-text4 {
    position: absolute;
    z-index: 99;
    left: 65vw;
    color: white;
    top: 7.2vh;
    font-size: 1.3vw;
}

.nav-text5 {
    position: absolute;
    z-index: 99;
    left: 80vw;
    color: white;
    top: 7.2vh;
    font-size: 1.3vw;
}

.nav-text6 {
    position: absolute;
    z-index: 99;
    left: 89.2vw;
    color: white;
    top: 7.2vh;
    font-size: 1.3vw;
}

.pulse {
    position: fixed;
    text-align: center;
    right: 3.9vw;
    top: 78vh;
    border-radius: 50%;
    background: #000000;
    width: 60px;
    height: 60px;
    z-index: 99;
}

.pulse::before {
    content: '';
    position: absolute;
    border: 2px solid #ffffff;
    left: -10px;
    opacity: 0;
    right: -10px;
    top: -10px;
    bottom: -10px;
    border-radius: 10%;
    animation: pulse 2.5s linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.pulse::after,
.pulse::before {
    content: '';
    position: f;
    border: 2px solid #ffffff;
    left: -10px;
    opacity: 0;
    right: -10px;
    top: -10px;
    bottom: -10px;
    border-radius: 50%;
    animation: pulse 1.5s linear infinite;
}

.pulse::after {
    animation-delay: 1.25s;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.3s linear infinite;
    -webkit-animation: loader 0.3s linear infinite;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid white;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid white;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid white;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid white;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid white;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid white;
        border-left-color: transparent;
    }
}

.logo-asta {
    color: white;
    top: 1.8vw;
    position: absolute;
    z-index: 99;
    left: 4.8vw;
    font-size: 2.06vw;
}

.logo-city {
    color: white;
    top: 4.1vw;
    position: absolute;
    z-index: 99;
    left: 4.8vw;
    font-size: 1.3vw;
}

.img-fluid {
    display: inline-block;
    overflow: hidden;
}

.img-fluid {
    transition: 0.4s;
    display: block;
}

.img-fluid:hover {
    transform: scale(1.03);
}

/* .caption {
    line-height: 5vw;
    font-size: 3.7vw;
    text-align: center;
    top: 2.8vw;
    padding-left: 10px;
    padding-right: 10px; */

    /* left: 4.7vw; */
/* } */

.carousel-inner2 {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* text-align: center; */
}

.c-item {
    max-width: 100%;
    min-height: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #272727;
    font-family: 'Montserrat', sans-serif !important;
    /* overflow: visible !important;
     padding-left: 0px !important;
     padding-right: 0px !important;
     */
    overflow-x: hidden;
    
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../font/Montserrat-Bold.ttf") format("ttf");
}

head {
    font-family: 'Montserrat';
}

.bmw::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .4); 
}

.title-cars {
    display: block;
    margin-left: auto;
}

.chip_info {
    color: white;
    font-size: 1.7vw;
    z-index: 99 !important;
    margin-top: 7.2vh;
}

.text-muted {
    text-decoration: none;
}

.modal:nth-of-type(even) {
    z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}

.hover-text-one figure {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.hover-text-one figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
    pointer-events: none;
}

.hover-text-one figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hover-text-one figure h4,
.hover-text-one figure p {
    margin: 0;
    text-align: center;
}

.hover-text-one figure p {
    font-size: 75%;
}

.hover-text-one figure h4 {
    font-size: 81%;
}

figure.effect-text-four figcaption {
    text-align: right;
}

figure.effect-text-four h4,
figure.effect-text-four p {
    position: absolute;
    right: 0px;
    left: 0px;
    padding: 4px 0;
}

figure.effect-text-four p {
    bottom: 15%;
    line-height: 1.42;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

figure.effect-text-four h4 {
    top: 69%;
    color: black;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

figure.effect-text-four:hover h4 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-text-four h4::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0%;
    content: '';
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}

figure.effect-text-four h4::after,
figure.effect-text-four p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    background-color: black;
}

figure.effect-text-four:hover h4::after,
figure.effect-text-four:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media (min-width: 2100px) {
    .footer {
        font-size: 1vw;
    }

    .nav-text1,
    .nav-text2,
    .nav-text3,
    .nav-text4,
    .nav-text5,
    .nav-text6 {
        margin-top: -0.7vh;
    }

    .logo-asta {
        height: 3vh !important;
    }

    .pulse {
        width: 3.2vw;
        height: 3.2vw;
    }

    .logo-img {
        height: 3.2vh !important;
    }
}

@media (min-width: 1601px) {
    .logo-asta {
        color: white;
        top: 1.8vw;
        position: absolute;
        z-index: 99;
        left: 4.8vw;
        font-size: 2.06vw;
    }

    .logo-asta {
        color: white;
        top: 1.8vw;
        position: absolute;
        z-index: 99;
        left: 4.8vw;
        font-size: 2.06vw;
    }

    .logo-city {
        color: white;
        top: 4.3vw;
        position: absolute;
        z-index: 99;
        left: 4.8vw;
        font-size: 1.3vw;
    }

    .caption {
        line-height: 3.7vw;
        font-size: 3vw;
        text-align: start;
        top: 3vh;
        left: 21vw;
        color: #EEEAE0 !important;

        /* padding-left: 10px;
        padding-right: 10px; */
    }

    /* .bmw {
        background-position: center;
        top: 0vh;
    } */
}




@media (max-width: 1366px) {

    .nav-text1,
    .nav-text2,
    .nav-text3,
    .nav-text4,
    .nav-text5,
    .nav-text6 {
        margin-top: -1.2vh;
    }

    .caption {
        top: 5%;
    }

    .images-logo {
        width: 60vw;
    }

    .c-item {
        background-size: cover;
        min-height: 100vh;
        background-position: center;
    }

}

@media (max-width: 1290px) {

    .col,
    [class*="col-"] {
        padding-right: 7px;
        padding-left: 7px;
    }

    .hover-text-one figure h4 {
        font-size: 62%;
    }

    figure.effect-text-four h4 {
        top: 60%;
    }

    .table {
        font-size: 13px;
    }

    .c-item {
        background-size: cover;
        min-height: 100vh;
        background-position: center;
    }

}

/* под пк разрешения */
@media (max-width: 1500px) and (max-height: 800px) and (min-height: 700px) and (min-width: 1400px) {

    .nav-text1,
    .nav-text2,
    .nav-text3,
    .nav-text4,
    .nav-text5,
    .nav-text6 {
        margin-top: -0.5vh !important;
    }
}

@media (max-width: 1400px) and (max-height: 700px) and (min-height: 600px) and (min-width: 1300px) {

    .nav-text1,
    .nav-text2,
    .nav-text3,
    .nav-text4,
    .nav-text5,
    .nav-text6 {
        margin-top: 0vh !important;
    }

    .logo-img {
        height: 4.2vh !important;
    }
}

@media (max-width: 1300px) and (max-height: 700px) and (min-height: 600px) and (min-width: 1200px) {

    .nav-text1,
    .nav-text2,
    .nav-text3,
    .nav-text4,
    .nav-text5,
    .nav-text6 {
        margin-top: -0.45vh !important;
    }
}

@media (max-width: 1300px) and (max-height: 600px) and (min-height: 530px) and (min-width: 1200px) {

    .nav-text1,
    .nav-text2,
    .nav-text3,
    .nav-text4,
    .nav-text5,
    .nav-text6 {
        margin-top: 0vh !important;
    }

    .logo-img {
        height: 4.1vh !important;
    }
}

@media (max-width: 1700px) and (max-height: 1000px) and (min-height: 900px) and (min-width: 1600px) {

    .nav-text1,
    .nav-text2,
    .nav-text3,
    .nav-text4,
    .nav-text5,
    .nav-text6 {
        margin-top: -0.5vh !important;
    }
}

@media (max-width: 1300px) and (max-height: 900px) and (min-height: 800px) and (min-width: 1200px) {
    .logo-img {
        height: 2.9vh !important;
    }
}

@media (max-width: 1100px) and (max-height: 650px) and (min-height: 580px) and (min-width: 990px) {
    .logo-img {
        height: 3.2vh !important;
    }
}

@media (max-width: 830px) and (max-height: 500px) and (min-height: 400px) and (min-width: 750px) {
    .logo-img {
        height: 3.5vh !important;
        margin-top: -3% !important;
    }

    .nav-text1,
    .nav-text2,
    .nav-text3,
    .nav-text4,
    .nav-text5,
    .nav-text6 {
        margin-top: -1vh !important;
    }
}

@media (max-width: 1300px) and (max-height: 900px) and (min-height: 850px) and (min-width: 1200px) {
    .caption {
        margin-top: 4vh !important;
    }

}

@media (max-width: 1100px) and (max-height: 650px) and (min-height: 600px) and (min-width: 1000px) {
    .caption {
        margin-top: 3vh !important;
    }

}


/* под пк разрешения */

/* ipad air */
@media (max-width: 1250px) and (max-height: 900px) {

    .nav-text1,
    .nav-text2,
    .nav-text3,
    .nav-text4,
    .nav-text5,
    .nav-text6 {
        margin-top: -1.5vh;
    }

    .logo-img {
        height: 2.8vh !important;
    }
}

@media (max-width: 950px) and (min-height: 900px) {
    .navbar-brand {
        font-size: 8vw !important;
    }

    .bmw-mob {
        height: 5vh !important;
    }

    .nav-mob {
        font-size: 2.4vh !important;
    }

    .opis_comp {
        font-size: 6vw !important;
    }

    .opis {
        font-size: 3vw !important;
    }

    .caption {
        font-size: 6vw;
        line-height: 9vw;
        top: -1vw;
        text-align: center;
        left: 0px;
        min-width: 100%;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 70%;
    }

    .hover-text-one figure h4 {
        font-size: 82%;
    }

    .mob-navbar {
        display: block !important;
    }

    .bmw {
        background-position: 50% -200px !important;
    }

    .chip_info {
        margin-top: -14vh;
    }

    .cont,
    .map {
        font-size: 3vw !important;
    }

    .tel,
    .footer {
        font-size: 2.5vw !important;
    }
}

/* ipad air */

/* ipad pro */
@media (max-width: 1100px) and (min-height: 1280px) and (min-width: 950px) and (max-height: 1400px) {
    .header {
        display: none;
    }

    .navbar-brand {
        font-size: 8vw !important;
    }

    .bmw-mob {
        height: 5vh !important;
    }

    .nav-mob {
        font-size: 2.4vh !important;
    }

    .opis_comp {
        font-size: 6vw !important;
    }

    .opis {
        font-size: 3vw !important;
    }

    .caption {
        font-size: 6vw;
        line-height: 9vw;
        top: 0vw !important;
        text-align: center;
        left: 0px;
        min-width: 100%;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 70%;
    }

    .hover-text-one figure h4 {
        font-size: 82%;
    }

    .mob-navbar {
        display: block !important;
    }

    .bmw {
        background-position: 50% -200px !important;
    }

    .chip_info {
        margin-top: -10vh !important;
    }

    .cont,
    .map {
        font-size: 3vw !important;
    }

    .tel,
    .footer {
        font-size: 2.5vw !important;
    }

    .pulse {
        width: 9vw !important;
        height: 9vw !important;
    }
}

@media (max-width: 1400px) and (max-height: 1100px) and (min-height: 990px) and (min-width: 1290px) {

    .nav-text1,
    .nav-text2,
    .nav-text3,
    .nav-text4,
    .nav-text5,
    .nav-text6 {
        margin-top: -1.75vh !important;
    }

    .logo-img {
        height: 2.6vh !important;
    }

    .caption {
        top: 10vw;

    }
}


/* ipad mini */
@media (max-width: 1100px) and (max-height: 800px) and (min-height: 700px) and (min-width: 950px) {

    .nav-text1,
    .nav-text2,
    .nav-text3,
    .nav-text4,
    .nav-text5,
    .nav-text6 {
        margin-top: -1.9vh !important;
    }

    .logo-img {
        height: 2.6vh !important;
    }
}

@media (max-width: 950px) and (min-height: 900px) {
    .caption {
        font-size: 5.8vw;
        line-height: 9vw;
        top: -7vw;
        text-align: center;
        left: 0px;
        min-width: 100%;
    }


}

/* ipad mini */

/* surface pro */
@media (max-width: 1400px) and (max-height: 960px) and (min-width: 1200px) and (min-height: 860px) {

    .nav-text1,
    .nav-text2,
    .nav-text3,
    .nav-text4,
    .nav-text5,
    .nav-text6 {
        margin-top: -1.4vh !important;
    }

    .logo-img {
        height: 2.8vh !important;
    }
}

/* s20 horizontal */
@media (max-width: 940px) and (max-height: 500px) and (min-width: 800px) and (min-height: 350px) {
    .logo-img {
        height: 4.2vh !important;
    }
}

/* s8+ horizontal */
@media (max-width: 800px) and (max-height: 400px) and (min-width: 700px) and (min-height: 300px) {
    .logo-img {
        height: 3.8vh !important;
        width: 3.6vh !important;
    }
}

/* galaxy fold */

@media (max-width: 700px) and (max-height: 360px) and (min-width: 600px) and (min-height: 200px) {

    .nav-text1,
    .nav-text2,
    .nav-text3,
    .nav-text4,
    .nav-text5,
    .nav-text6 {
        margin-top: 1vh !important;
    }

    .logo-img {
        height: 3vh !important;
    }
}

/* @media (max-width: 320px) and (max-height: 670px) and (min-width: 200px) and (min-height: 600px){
    .carousel-inner2 {
        height: 67.5vh;
   }
   .mob-navbar{
    display:block !important;

}
.bmw-mob{
    height: 3vh !important;
}
   .bmw{
     background-position: 50% -120px !important;
    }
.caption{
    font-size: 8.3vw;
    line-height: 9.5vw;
    margin-top: -2vw;
    text-align: center;
    left: 0vw;
    min-width: 100%;
}
} 
/* galaxy fold */




@media (max-width: 1100px) {

    .nav-text1,
    .nav-text2,
    .nav-text3,
    .nav-text4,
    .nav-text5,
    .nav-text6 {
        margin-top: -0.9vh;
    }

    .logo-img {
        margin-top: -3% !important;
    }
}

@media (max-width: 950px) {

    .nav-text1,
    .nav-text2,
    .nav-text3,
    .nav-text4,
    .nav-text5,
    .nav-text6 {
        margin-top: 0vh;
    }
}

@media (max-width: 800px) {

    .nav-text1,
    .nav-text2,
    .nav-text3,
    .nav-text4,
    .nav-text5,
    .nav-text6 {
        margin-top: -0.4vh;
    }
}




/* surface pro */
@media (max-width: 950px) and (min-height: 1300px) {
    .bmw-mob {
        height: 4vh !important;
    }

    .chip_info {
        margin-top: -13vh !important;
        font-size: 5vw;
    }

    .opis_comp {
        font-size: 8vw;
        line-height: 11vw;
    }

    .tel {
        font-size: 3.2vw !important;
    }

    .opis {
        font-size: 4vw !important;
    }

    .caption {
        font-size: 9.3vw;
        line-height: 11vw;
        top: -6.5vw !important;
        text-align: center;
        left: 0vw;
        min-width: 100%;
    }

    .bmw {
        background-position: 50% -10% !important;
        background-size: 1500px auto !important;
    }

    .carousel-inner2 {
        height: 69.5vh;
    }

    .table {
        font-size: 11.9px !important;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 72% !important;
    }

    .mob-navbar {
        display: block !important;

    }


}







@media (max-width: 1000px) {
    figure.effect-text-four h4 {
        top: 70%;
    }
}

@media (max-width: 760px) and (min-height: 500px) {
    .chip_info {
        margin-top: 105vh !important;
        font-size: 5vw;
    }

    .caption {
        font-size: 6vw;
        line-height: 9vw;
        top: 14vw;
        text-align: center;
        left: 0px;
        min-width: 100%;
    }

    .mob-navbar {
        display: block !important;

    }
}

/* @media (max-width: 575px) and (min-height: 500px){
     .bmw-mob{
         height: 4vh !important;
    }
     .chip_info{
         margin-top: 4vh !important;
         font-size: 5vw;
    }
     .opis_comp{
         font-size: 8vw;
         line-height: 11vw;
    }
     .tel{
         font-size: 3.2vw !important;
    }
     .opis{
         font-size: 4vw !important;
    }
     .caption{
         font-size: 9.3vw;
         line-height: 11vw;
         top: -3.5vw;
         text-align: center;
         left: 0vw;
         min-width: 100%;
    }
     .bmw{
        background-size: cover;
        min-height: 90vh !important;
        background-position: center;
         background-image: url("../images/slider_webp/new_bmw3.jpg") !important;
         background-position: 50% -150px !important;
    }
     .carousel-inner2 {
         height: 69.5vh;
    }
     .table{
         font-size: 11.9px !important;
    }
     .hover-text-one figure p {
         font-size: 100%;
    }
     figure.effect-text-four h4 {
         top: 72% !important;
    }
    .mob-navbar{
        display:block !important;
   
    }
} */




/* 12 pro */
@media (max-width: 450px) and (min-height: 780px) {
    .bmw-mob {
        height: 4vh !important;
    }

    .chip_info {
        margin-top: -13vh !important;
        font-size: 5vw;
    }

    .opis_comp {
        font-size: 8vw;
        line-height: 11vw;
    }

    .tel {
        font-size: 3.2vw !important;
    }

    .opis {
        font-size: 4vw !important;
    }

    .caption {
        font-size: 9.3vw;
        line-height: 11vw;
        top: -10vw !important;
        text-align: center;
        left: 0vw;
        min-width: 100%;
    }

    .bmw {
        background-position: 50% -10% !important;
        background-size: 1000px auto !important;
    }

    .carousel-inner2 {
        height: 69.5vh;
    }

    .table {
        font-size: 11.9px !important;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 72% !important;
    }

    .mob-navbar {
        display: block !important;

    }
}

/* s8+ */

@media (max-width: 450px) and (max-height: 790px) and (min-height: 700px) {
    .bmw-mob {
        height: 4vh !important;
    }

    .chip_info {
        margin-top: 4vh !important;
        font-size: 5vw;
    }

    .opis_comp {
        font-size: 8vw;
        line-height: 11vw;
    }

    .tel {
        font-size: 3.2vw !important;
    }

    .opis {
        font-size: 4vw !important;
    }

    .caption {
        font-size: 9.3vw;
        line-height: 11vw;
        top: -6vw !important;
        text-align: center;
        left: 0vw;
        min-width: 100%;
    }

    .bmw {
        background-position: 50% 100% !important;
        background-size: 1000px auto !important;
    }

    .carousel-inner2 {
        height: 69.5vh;
    }

    .table {
        font-size: 11.9px !important;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 72% !important;
    }

    .mob-navbar {
        display: block !important;

    }
}

/* s8+ */
@media (max-width: 380px) and (max-height: 760px) and (min-height: 690px) and (min-width: 300px) {
    .bmw {
        background-position: 50% -20% !important;
        background-size: 1000px auto !important;
    }

    .caption {
        top: -11vw !important;
    }

    .chip_info {
        margin-top: -7vh !important;
        font-size: 5vw;
    }

}





@media (max-width: 410px) and (max-height: 710px) and (min-height: 650px) {
    .bmw-mob {
        height: 4vh !important;
    }

    .chip_info {
        margin-top: 4vh !important;
        font-size: 5vw;
    }

    .opis_comp {
        font-size: 8vw;
        line-height: 11vw;
    }

    .tel {
        font-size: 3.2vw !important;
    }

    .opis {
        font-size: 4vw !important;
    }

    .caption {
        font-size: 9.3vw;
        line-height: 11vw;
        margin-top: 2vh !important;
        text-align: center;
        left: 0vw;
        min-width: 100%;
    }

    .bmw {
        background-position: 50% 100% !important;
        background-size: 1000px auto !important;
    }

    .carousel-inner2 {
        height: 69.5vh;
    }

    .table {
        font-size: 11.9px !important;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 72% !important;
    }

    .mob-navbar {
        display: block !important;

    }
}






/* @media (max-width: 400px) and (max-height: 900px){
    .caption{
        font-size: 9.3vw;
        line-height: 11vw;
        top: -5.3vw;
        text-align: center;
        left: 0vw;
        min-width: 100%;
   }
   .mob-navbar{
    display:block !important;

}
} */



/* s5 */
@media (max-width: 365px) and (max-height: 645px) and (min-height: 600px) and (min-width: 300px) {
    .mob-navbar {
        display: block !important;

    }

    .chip_info {
        margin-top: 3vh !important;
        font-size: 5vw;
    }

    .caption {
        font-size: 9vw !important;
        line-height: 11vw;
        top: -12vw !important;
        text-align: center;
        left: 0vw;
    }

    .table {
        font-size: 11.9px;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 70%;
    }
}





/* nexus4 */
@media (max-width: 400px) and (max-height: 700px) and (min-height: 600px) and (min-width: 350px) {
    .bmw {
        background-position: 50% -100px !important;
    }

    .caption {
        top: -13vw !important;
        font-size: 8vw !important;

    }

}



/* pixel3xl */
@media (max-width: 400px) and (max-height: 800px) and (min-height: 750px) and (min-width: 360px) {
    .mob-navbar {
        display: block !important;

    }

    .chip_info {
        margin-top: 3vh !important;
        font-size: 5vw;
    }

    .caption {
        font-size: 9vw !important;
        line-height: 11vw;
        top: -12vw !important;
        text-align: center;
        left: 0vw;
    }

    .table {
        font-size: 11.9px;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 70%;
    }
}

/* pixel3xl */



/* nexus7 */
@media (max-width: 640px) and (max-height: 1000px) and (min-height: 900px) and (min-width: 550px) {
    .mob-navbar {
        display: block !important;

    }

    .chip_info {
        margin-top: 3vh !important;
        font-size: 5vw;
    }

    .caption {
        font-size: 7vw !important;
        line-height: 8vw;
        top: -4vw !important;
        text-align: center;
        left: 0vw;
    }

    .table {
        font-size: 11.9px;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 70%;
    }

    .chip_info {
        margin-top: -17vh !important;
        font-size: 5vw;
    }

    .opis_comp {
        font-size: 8vw;
        line-height: 11vw;
    }

    .tel {
        font-size: 4vw !important;
    }

    .opis {
        font-size: 4vw !important;
    }

    .cont {
        font-size: 4vw !important;

    }

    .footer {
        font-size: 3vw !important;

    }

    .bmw-mob {
        height: 4.4vh !important;
        margin-top: -1.5% !important;
    }

}

/* nexus7 */


/* 5 5se */
@media (max-width: 350px) and (max-height: 660px) and (min-height: 520px) and (min-width: 290px) {
    .mob-navbar {
        display: block !important;

    }

    .chip_info {
        margin-top: 3vh !important;
        font-size: 5vw;
    }

    .caption {
        font-size: 7vw !important;
        line-height: 8vw;
        top: -7vw !important;
        text-align: center;
        left: 0vw;
    }

    .table {
        font-size: 11.9px;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 70%;
    }

    .chip_info {
        margin-top: 4vh !important;
        font-size: 5vw;
    }

    .opis_comp {
        font-size: 8vw;
        line-height: 11vw;
    }

    .tel {
        font-size: 3.2vw !important;
    }

    .opis {
        font-size: 4vw !important;
    }


}

/* 5 5se */

/* 6-8plus */


/* @media (max-width: 450px) and (min-height: 690px) and (min-height: 700px) and (min-width: 400px) {
    .bmw-mob {
        height: 4vh !important;
    }

    .chip_info {
        margin-top: 4vh !important;
        font-size: 5vw;
    }

    .opis_comp {
        font-size: 8vw;
        line-height: 11vw;
    }

    .tel {
        font-size: 3.2vw !important;
    }

    .opis {
        font-size: 4vw !important;
    }

    .caption {
        font-size: 9.3vw !important;
        line-height: 11vw;
        top: -9.5vw !important;
        text-align: center;
        left: 0vw;
        min-width: 100%;
    }

    .bmw {

        background-position: 50% -110px !important;
    }

    .carousel-inner2 {
        height: 69.5vh;
    }

    .table {
        font-size: 11.9px !important;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 72% !important;
    }

    .mob-navbar {
        display: block !important;

    }
} */

/* 6-8plus */

/* SE */
@media (max-width: 380px) and (max-height: 680px) {
    .form-label {
        font-size: 4.3vw !important;
    }

    .form-zag {
        font-size: 4.3vw !important;
    }








    .carousel-inner2 {
        height: 67.5vh;
    }

    .mob-navbar {
        display: block !important;

    }

    .bmw-mob {
        height: 5vh !important;
    }

    .bmw {
        background-position: 50% -10% !important;
        background-size: 780px auto !important;
    }

    .caption {
        font-size: 8.3vw;
        line-height: 9.5vw;
        top: -13vw !important;
        text-align: center;
        left: 0vw;
        min-width: 100%;
    }

    .footer {
        font-size: 4.3vw;
    }

    .chip_info {
        margin-top: -9vh !important;
        font-size: 5vw;
    }

    .opis_comp {
        font-size: 8vw;
        line-height: 11vw;
    }

    .tel {
        font-size: 3.2vw !important;
    }

    .opis {
        font-size: 4vw !important;
    }





}

@media (max-width: 690px) and (max-height: 380px) {

    .nav-text1,
    .nav-text2,
    .nav-text3,
    .nav-text4,
    .nav-text5,
    .nav-text6 {
        margin-top: -0.7vh;
    }

    .logo-img {
        height: 3vh !important;
    }
}

/* SE */

/* SURFACE DUO */
@media (max-width: 750px) and (min-height: 500px) and (min-width: 700px) {
    .bmw-mob {
        height: 8vh !important;
    }

    .mob-navbar {
        display: block !important;

    }

    .bmw {
        background-position: 50% 0px !important;
    }

    .caption {
        font-size: 6vw;
        line-height: 9.5vw;
        margin-top: -24vw;
        text-align: center;
        left: 0vw;
        min-width: 100%;
    }

    .navbar-brand {
        font-size: 7vw !important;
    }

    .mob-city {
        font-size: 2.5vw !important;

    }

    .nav-mob {
        font-size: 3vw !important;

    }

    .chip_info {
        margin-top: 3vh !important;
        font-size: 5vw !important;
    }

    .opis {
        font-size: 3vw !important;
    }

    .tel {
        font-size: 3vw !important;

    }

}

@media (max-width: 560px) and (min-height: 690px) and (max-height: 750px) and (min-width: 520px) {
    .bmw-mob {
        height: 4.8vh !important;
        margin-top: -1.4% !important;
    }

    .caption {
        font-size: 6vw !important;
        line-height: 7vw;
        top: -5vw;
        text-align: center;
        left: 0vw;
        min-width: 100%;
    }

    .bmw {
        background-position: 50% -25% !important;
        background-size: 900px auto !important;
    }

    .navbar-brand {
        font-size: 7vw !important;
    }

    .mob-city {
        font-size: 3.4vw !important;

    }

    .nav-mob {
        font-size: 4vw !important;

    }

    .opis_comp {
        font-size: 7vw !important;
    }

    .opis {
        font-size: 3vw !important;
    }

}

/* SURFACE DUO */

/* @media (max-width: 360px) and (max-height: 600px){
    .mob-navbar{
        display:block !important;
   
    }
     .chip_info{
         margin-top: 145vh !important;
         font-size: 5vw;
    }
     .c-item{
         background-size: cover;
         min-height: 80vh !important;
         background-position: center;
    }
     .caption{
         font-size: 9vw;
         line-height: 9vw;
         top: 10vw;
         text-align: center;
         left: 0vw;
    }
     .bmw{
         background-image: url("../images/slider_webp/new_bmw.jpg") !important;
         background-position: center;
    }
     .table{
         font-size: 11.9px;
    }
     .hover-text-one figure p {
         font-size: 100%;
    }
     figure.effect-text-four h4 {
         top: 70%;
    }
} */

@media (max-width: 800px) and (max-height: 450px) {
    figure.effect-text-four h4 {
        top: 60%;
    }
}

@media (max-width: 1040px) and (min-height: 1200px) {

    /* .chip_info{
         margin-top: 160vh !important;
         font-size: 5vw;
    } */
    .footer {
        font-size: 3vw;
    }

    .table {
        font-size: 19px;
    }

    .bmw {
        background-image: url("../images/slider_webp/new_bmw3.jpg") !important;
        background-position: center;
    }

    .caption {
        font-size: 6vw;
        line-height: 9vw;
        top: 17vw;
        text-align: center;
        left: 0px;
        min-width: 100%;
    }

    .c-item {
        max-width: 100%;
        min-height: 120vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 70%;
    }

    .hover-text-one figure h4 {
        font-size: 82%;
    }
}

@media (max-width: 1600px) and (min-height: 500px) {

    .col,
    [class*="col-"] {
        padding-right: 7px;
        padding-left: 7px;
    }

    .table {
        font-size: 15px;
    }

    .c-item {
        background-size: cover;
        min-height: 100vh;
        background-position: center;
    }

    figure.effect-text-four h4 {
        top: 66.8%;
        font-size: 13.5px;
    }
}

@media (max-width: 360px) and (max-height: 500px) {
    .c-item {
        background-size: cover;
        min-height: 80vh !important;
        background-position: center;
    }

    .caption {
        font-size: 7vw;
        line-height: 7vw;
        top: 10vw;
        text-align: center;
        left: 15vw;
    }

    .table {
        font-size: 11.9px;
    }

    .hover-text-one figure p {
        font-size: 100%;
    }

    figure.effect-text-four h4 {
        top: 70%;
    }
}

@media (max-width: 1070px) and (min-height: 700px) {
    figure.effect-text-four h4 {
        top: 70%;
    }
}

@media (max-width: 1200px) and (min-height: 730px) {
    figure.effect-text-four h4 {
        top: 62%;
        font-size: 11px;
    }
}

@media (max-width: 1070px) and (min-height: 590px) {
    figure.effect-text-four h4 {
        top: 64%;
        font-size: 11px;
    }

    .table {
        font-size: 13.9px;
    }
}